<main>
  <div class="form">
    <h2>Criar usuário</h2>
      <div>
        <label>Nome</label>
        <input [(ngModel)]="user.name" placeholder="Nome"/> 
      </div>
  
      <div>
        <label>Sobrenome</label>
        <input [(ngModel)]="user.lastName" placeholder="Sobrenome"/> 
      </div>
  
      <div>
        <label>Idade</label>
        <input [(ngModel)]="user.age" placeholder="Idade"/> 
      </div>
  
      <div>
        <label>Profissão</label>
        <input [(ngModel)]="user.occupation" placeholder="Profissão"/> 
      </div>
  
      <button class="create-btn" (click)="createUser(user)">Criar</button>
  </div>
</main>  
