<main>
  <button class="new-user-btn " routerLink="create">Criar Novo Usuário</button>
  
  <table>
    <tr>
      <th>Nome</th>
      <th>Sobrenome</th>
      <th>Idade</th>
      <th>Profissão</th>
      <th>Ações</th>
    </tr>
  
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.occupation }}</td>
      <td class="btn-td">
        <button class="edit-btn" routerLink="edit/{{ user.id }}">Editar</button>
        <button class="delete-btn" (click)="deleteUser(user)">Excluir</button>
      </td>
    </tr>
  </table>
</main>
